---
layout: default
showLatest: true
---

<div class="articleList palm--padding">
{% for post in site.posts %}
    {% if forloop.first == false %}
    <div class="articleList__item">
        <div class="grid">
            <div class="grid__item articleList__link">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <div class="articleList__thumbnail" 
                         style="background-image: url('{{ "/images/posts/" | prepend: site.baseurl }}{{ post.image }}')">
                    </div>
                </a>
            </div><!--
            
         --><div class="grid__item articleList_details palm--six-tenths lap--seven-tenths desk--eight-tenths">
                <p class="articleList__date h2">
                    {{ post.date | date: "%b %-d, %Y" }}
                </p>

                <p class="h1 articleList__title">
                    <small>
                        <a class="article__link" href="{{ post.url | prepend: site.baseurl }}">
                            {{ post.title }}
                        </a>
                    </small>
                </p>
            </div>
        </div>
    </div> <!-- articleList_item -->
    {% endif %}
{% endfor %}
</div> <!-- articleList -->