<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, inital-scale=1.0">

    <!--<link rel="dns-prefetch" href="//">-->

    <title>{% if page.title %}{{ page.title }} :: {% endif %}EricRovtar.com &ndash; {{ site.title }}</title>


    <link rel="shortcut icon" href="/icon.png">
    <link rel="apple-touch-icon-precomposed" href="/icon.png">
    <meta name="apple-mobile-web-app-title" content="Eric Rovtar">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <!-- Custom CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>
    <link href="{{ "/styles/styles.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css">
    
    <!--
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">--->

    <!-- FACEBOOK METADATA -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} :: {% endif %}EricRovtar.com &ndash; {{ site.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://ericrovtar.com{{ page.id }}" />
    <meta property="og:image" content="{{ 'http://ericrovtar.com/images/posts/' | prepend: site.baseurl }}{% if post.image %}{{ post.image }}{% else if page.image %}{{ page.image }}{% else %}facebook_share_default.jpg{% endif %}" />
    <meta property="og:site_name" content="EricRovtar.com - Pop Culure Perspectives" />
    <meta property="og:description" content="{{ site.description }}" />
</head>
