Share on __________
<div class="grid grid--full">
    <div class="grid__item one-tenth square">
        <div class="shareIcon facebook"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="shareIcon twitter"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="shareIcon google"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
    <div class="shareIcon tumblr square"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="shareIcon pinterest"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="shareIcon reddit"></div>
    </div>
</div> <!-- /grid -->