<div class="share__title">
    Share on:
</div><!--

--><div class="share__title--current"></div>

<div class="grid grid--full">
    <div class="grid__item one-tenth square">
        <div class="share__tile facebook" data-service="Facebook"
             onclick="var sharerFb = 'https://www.facebook.com/sharer/sharer.php?u='; window.open(sharerFb + location.href, 'sharerFb', 'width=626,height=436'); return false;"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="share__tile twitter" data-service="Twitter"
             onclick="var sharerTw = 'https://twitter.com/share?url='; window.open(sharerTw + location.href, 'sharerTw', 'width=550,height=520'); return false;"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="share__tile google" data-service="Google+"
             onclick="var sharerGp = 'https://plus.google.com/share?url='; window.open(sharerGp + location.href, 'sharerGp', 'width=840,height=464'); return false;"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="share__tile tumblr" data-service="Tumblr"
             onclick="var sharerTb = 'http://www.tumblr.com/share/link?url='; window.open(sharerTb + encodeURIComponent ( location.href ), 'sharerTb', 'width=450,height=430'); return false;"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
    <div class="share__tile pinterest" data-service="Pinterest"
         onclick="var sharerPn = 'http://pinterest.com/pin/create/button/?url='; window.open(sharerPn + location.href + '&media=' + {{ page.image }}, 'sharerTb', 'width=450,height=430'); return false;"></div>
    </div><!--

 --><div class="grid__item one-tenth square">
        <div class="share__tile reddit" data-service="Reddit"
             onclick="var sharerRd = 'http://www.reddit.com/submit?url='; window.open(sharerRd + location.href, 'sharerRd', 'width=840,height=464'); return false;"></div>
    </div>
</div> <!-- /grid -->