<div class="spoilers">
    <div class="grid grid--full">
        <div class="grid__item two-twelfths spoilers__warning">
            Warning
        </div><!--
 --><div class="grid__item ten-twelfths spoilers__details">
        This post contains spoilers for {{ include.spoilersFor }}
        </div>
    </div>
</div>

{% comment %}
<div class="spoilers">
    <div class="spoilers__warning">
        Warning!
    </div><!--
 --><div class="spoilers__details">
        This post contains spoilers for {{ include.spoilersFor }}
    </div>
</div>
{% endcomment %}