.banner 
{
    background: center center no-repeat #333;
    background-size: cover;
    border-bottom: #{$magic-number / 4} solid $color-root;

    height: ($magic-number * 12) - ($magic-number / 4);;
    width: 100%;
    
    position: relative;
    z-index: 100;
    top: -$magic-number; 

    .latest 
    {
        background: rgba(255, 255, 255, 0.7);
        
        display: inline-block;
        margin: 0 0 0.25em 0;
        padding: 0 .5em;
        
        color: $color-root;
        font-size: 1rem;
        line-height: 1.5rem;
        text-transform: uppercase; 
    }
    
    h1 {
        margin-left: 1rem; 
        text-indent: -1rem;
        
        color: #FFF;
        line-height: 2.5rem;
        text-shadow: 2px 2px 2px $color-root;
        text-transform: lowercase;
        font-weight: normal;
        
        @include grid-media-query("palm") {    
            top: 0;
            margin-bottom: 0; } 
        
        a {
            color: #FFF;
            font-weight: normal;
            text-decoration: none; 
        
            &:hover
            {
                border: none;
            }
        }
    }

    .title {
        display: table-cell;
        vertical-align: middle;
        height: 280px; 
        
        @include grid-media-query("palm") {
            height: auto;
            padding-top: 2em;
            padding-bottom: 2em; } 
        
    }
    
    @include grid-media-query("palm") {
        top: 0;
        margin-bottom: 24px;
        padding: 1em 0;
        
        height: auto;
        min-height: 6em;
        
        font-size: .75em; }
}