.header
{
    background: $color-root;

    position: absolute;
    margin: 0 -1em $magic-number -1em;
    padding: 1em;
    z-index: 200;

    color: #FFF;
    text-align: center;

    @include grid-media-query("palm") {
        position: relative;
        margin: 0;
        padding: .5em 0;
        overflow: hidden;

        height: 2em;
    }
    
    @include grid-media-query("lap") {
        right: -24px;
        min-width: 313px;
    }

    h1
    {
        color: #FFF;
    }

    .header__controls
    {
        display: block;

        @include grid-media-query("palm") {
            display: none;
        }
    }
}

.header__logo
{
    height: auto;
    width: 100%;
    
    @include grid-media-query("palm") {
        height: 2em;
        width: auto;
    }
}

.header__menu, .header__social
{
    @include grid-media-query("palm") {
        display: none;
    }

    ul
    {	
        margin-bottom: 0;
        
        li
        {
            display: inline-block;

            a
            {
                display: block;

                color: #FFF;
                text-decoration: none;
                font-weight: normal; 
                
                &:hover
                {
                    border: none;
                    color: #FFF;
                }
            }
        }
    }
}