.aboutMe
{
    background: $light-gray;
    padding-top: 1em;
    padding-bottom: 1em; 

    @include grid-media-query("desk") {
        padding: 1em;
        margin: 2em -1em $magic-number -1em;
    }
}

.sidebar__share
{
    display: none;

    @include grid-media-query("desk") {
        display: initial;
    }
}