.footer
{
    background: $color-root;

    margin: 1em 0 0 0;
    padding: 1em 0;

    min-height: 3em;

    color: #FFF;

    p
    {
        margin-bottom: 0;

        font-size: 0.75rem;
        line-height: 2;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    }

    a
    {
        color: #FFF;
    }
}