html
{
    font-family: $sans-serif-fonts;
    //background: url("../images/grid.png") left -6px repeat #fff;
    color: $black;

    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust:none
}

body
{
    width: auto;
    margin: 0 auto;
    line-height: 1.5em;

    //padding-top: $magic-number * 11;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.wrapper
{
    @include grid-media-query("desk") {
        position: relative;

        max-width: 1100px;
        margin: 0 auto;
        padding: 0 24px;
    }
}

.palm--padding {
    padding-left: 1em;
    padding-right: 1em;

    @include grid-media-query("desk") {
        padding-left: 0;
        padding-right: 0;
    }
}

.palm--hide
{
    @include grid-media-query("palm")
    {
        display: none;
    }
}

.lap--hide
{
    @include grid-media-query("lap")
    {
        display: none;
    }
}

.portable--hide
{
    @include grid-media-query("portable")
    {
        display: none;
    }
}

.desk--hide
{
    @include grid-media-query("desk")
    {
        display: none;
    }
}

.square {
    position: relative;
    
    padding-left: 0;
    margin-left: 24px;

    //max-width: 64px;
    //padding-left: 10px !important;
    //float: left;

    & > div {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        border-radius: inherit;

        @include grid-media-query("lap")
        {
            max-height: 64px;
        }
    }
    .grid--full > &
    {
        margin-left: 0;
    }

    /* Other ratios */
    .ratio2_1:before{
        margin-top: 50%;
    }
    .ratio1_2:before{
        margin-top: 200%;
    }
    .ratio4_3:before{
        margin-top: 75%;
    }
    .ratio16_9:before{
        margin-top: 56.25%;
    }

    &:before {
        content: "";
        display: block;
        margin-top: 100%; /* initial ratio of 1:1*/
    }
}

.circle {
    @extend .square;
    
    border-radius: 50%;
}