.content
{
    a
    {
        color: $color-root;
        font-weight: bold;
        text-decoration: none;

        &:hover
        {
            border-bottom: 1px solid $color-root;
        }
    }
}

.articleList
{
    position: relative;
    z-index: 200;
}

.articleList__item
{
    border-bottom: 1px solid #CCC;

    padding-bottom: 23px;
    margin-bottom: 24px;

    &:last-child
    {
        border-bottom: none;
    }

    p
    {
        margin-bottom: 0;
        
    }
}

.articleList__link
{
    //margin-left: 24px;

    width: 5rem;
}

.articleList__thumbnail
{   
    background: center center no-repeat $color-root;
    background-size: cover;
    background-clip: content-box;
    
    border-radius: 2.5rem;
    
    float: left;
    margin: -8px $magic-number 0 0;
    
    height: 5rem;
    width: 5rem;
}

.articleList_details
{
    margin-left: 24px;
    
    width: auto;
    max-width: 60%;
}

.articleList__date
{
    color: #666;
    font-weight: lighter;
}

.articleList__title
{
    a
    {
        font-weight: normal;
    
        &:hover
        {
            border-bottom: none;
        }
    }
    
    //a
    //{
    //    font-size: .75em;
    //    font-weight: bold;
    //    
    //    &:first-line
    //    {
    //        font-size: 1em;
    //        font-weight: normal;
    //    }
    //}
}

.article
{
    position: relative;
    z-index: 200;
}

.article__item 
{
    p
    {
        //background-color: rgba(255, 255, 255, .7);

        &.article__date,
        &.article__tags
        {
            color: #666;
            font-weight: lighter;
        }
    }

    blockquote
    {
        margin-bottom: 23px;
        padding: 23px 0 0 0;
        border-top: 1px solid #AAA;
        //border-bottom: 1px solid #AAA;

        font-family: $serif-fonts;
        color: #aaa;
        font-style: italic;
        letter-spacing: 1px;
        text-align: right; 
        
        p 
        {
            text-align: left;
            
            &:last-of-type
            { 
                border-bottom: 1pt solid #AAA;

                margin-bottom: 0;
                padding-bottom: 23px;
            }
        }
        
        cite
        {
            background: none repeat scroll 0% 0% #AAA;

            display: inline-block;
            position: relative;
            margin-bottom: 0px;
            padding: 0 .5em;

            color: #FFF;
            font-style: normal;
        }
    }
}

.article__figure
{   
    float: right;
    margin: 0 24px 24px 0;

    font-family: $serif-fonts;
    font-style: italic;
    text-align: center;
    color: #FFF;

    img
    {
        border-radius: 50%;

        position: relative;
        z-index: 200;

        height: 8rem;
        width: auto;
    }

    figcaption
    {
        background: none repeat scroll 0% 0% #AAA;

        position: relative;
        padding: 4rem 0.5rem 0.5rem;
        margin-top: -4rem;
        z-index: 100;

        width: 7rem;
    }
}

.spoilers
{
    margin-top: -1px;
    margin-bottom: .5em;
}

.spoilers__warning
{
    background: none repeat scroll 0% 0% #ce171d;

    //display: inline-block;
    margin: 0px 0.5em 0.5em 0;
    padding: 0px 0.5em !important;
    width: auto;

    text-transform: uppercase;
    color: #FFF;
    font-weight: 200;
    letter-spacing: 1px;
}

.spoilers__details
{
    //display: inline-block;
    //margin: 0px 0px 0.5em;
    //padding: 0px 0.5em !important;

    text-transform: lowercase;
    color: #333;
    font-weight: 200;
    letter-spacing: 1px;

    //@include grid-media-query("palm") {
    //    padding: 0;
    //}
}