.content
{
    a
    {
        color: $color-root;
        font-weight: bold;
        text-decoration: none;

        &:hover
        {
            border-bottom: 1px solid $color-root;
        }
    }
}

.articleList
{
    position: relative;
    z-index: 200;
}

.articleList__item
{
    border-bottom: 1px solid #CCC;

    padding-bottom: 23px;
    margin-bottom: 24px;

    &:last-child
    {
        border-bottom: none;
    }

    & > p
    {
        margin-bottom: 0;
        
    }
}

.articleList__thumbnail
{
    //background: #000;
    //background-image: url("/images/posts/watch_dogs.jpg");
    //background-position: center center;
    //background-size: cover;
    
    background: center center no-repeat $color-root;
    background-size: cover;
    background-clip: content-box;
    
    border-radius: 2.5rem;
    
    float: left;
    margin: -6px $magic-number 0 0;
    
    height: 5rem;
    width: 5rem;
}

.articleList__date
{
    color: #666;
    font-weight: lighter;
}

.articleList__title
{
    a
    {
        font-weight: normal;
    }

    a:hover
    {
        border-bottom: none;
    }
}

.article
{
    position: relative;
    z-index: 200;
}

.article__item 
{
    p
    {
        //background-color: rgba(255, 255, 255, .7);

        &.article__date,
        &.article__tags
        {
            color: #666;
            font-weight: lighter;
        }
    }

    blockquote
    {
        margin-bottom: 23px;
        padding: 23px 0 0 0;
        border-top: 1px solid #AAA;
        border-bottom: 1px solid #AAA;

        font-family: Georgia, serif;
        color: #aaa;
        font-style: italic;
        letter-spacing: 1px;
    }
}

.article__spoilers
{
    background: none repeat scroll 0% 0% #ce171d;

    display: inline-block;
    margin: 0px 0px 0.5em;
    padding: 0px 0.5em;

    text-transform: uppercase;
    color: #FFF;
    font-weight: 200;
    letter-spacing: 1px;
}

.article__spoilers--details
{
    display: inline-block;
    margin: 0px 0px 0.5em;
    //padding: 0px 0.5em;

    text-transform: lowercase;
    color: #333;
    font-weight: 200;
    letter-spacing: 1px;

    @include grid-media-query("palm") {
        display: none;
    }
}