.content
{
    a
    {
        color: $color-root;
        font-weight: bold;
        text-decoration: none;

        &:hover
        {
            border-bottom: 1px solid $color-root;
        }
    }
}

.articleList
{
    position: relative;
    z-index: 200;

    .articleList__item
    {
        border-bottom: 1px solid #CCC;

        padding-bottom: 23px;
        margin-bottom: 24px;

        &:last-child
        {
            border-bottom: none;
        }

        & > p
        {
            &.articleList__date
            {
                margin-bottom: 0;
                
                color: #666;
                font-weight: lighter;
            }
        }

        .articleList__title
        {
            a
            {
                font-weight: normal;
            }

            a:hover
            {
                border-bottom: none;
            }
        }
    }
}

.article
{
    position: relative;
    z-index: 200;

    .article__item 
    {
        & > p
        {
            //background-color: rgba(255, 255, 255, .7);

            &.article__date,
            &.article__tags
            {
                color: #666;
                font-weight: lighter;
            }
        }

        & > blockquote
        {
            padding: 23px 0;
            border-top: 1px solid #AAA;
            border-bottom: 1px solid #AAA;

            font-family: Georgia, serif;
            color: #aaa;
            font-style: italic;
            letter-spacing: 1px;
        }
    }
}
