.share__title,
.comments__title
{
    background: none repeat scroll 0% 0% $color-root;
    
    display: inline-block;
    margin: 0px 0px 0.5em;
    padding: 0px 0.5em;
    
    text-transform: uppercase;
    color: #FFF;
    font-weight: 200;
    letter-spacing: 1px;
}

.share__title--current
{
    display: inline-block;
    margin: 0px 0px 0.5em;
    padding: 0px 0.5em;
    
    text-transform: lowercase;
    color: #333;
    font-weight: 200;
    letter-spacing: 1px;

    @include grid-media-query("palm") {
        display: none;
    }
}

.share__tile
{
    max-width: 64px;

    cursor: pointer;

    &.facebook
    {
        background: url("../images/icons/64px/white/facebook.png") no-repeat scroll center center / 50% auto #405D94;
    }

    &.twitter
    {
        background: url("../images/icons/64px/white/twitter.png") no-repeat scroll center center / 50% auto #4AADE8;
    }

    &.google
    {
        background: url("../images/icons/64px/white/googleplus.png") no-repeat scroll center center / 50% auto #CB5A45;
    }

    &.tumblr
    {
        background: url("../images/icons/64px/white/tumblr.png") no-repeat scroll center center / 50% auto #2C4762;
    }

    &.pinterest
    {
        background: url("../images/icons/64px/white/pinterest.png") no-repeat scroll center center / 50% auto #F30;
    }

    &.reddit
    {
        background: url("../images/icons/64px/white/reddit.png") no-repeat scroll center center / 50% auto #3E6895;
    }
}