.shareIcon
{
    width: 100%;

    cursor: pointer;

    &.facebook
    {
        background: #405D94 url("../images/icons/32px/facebook_white.png") no-repeat scroll center;
    }

    &.twitter
    {
        background: #4AADE8 url("../images/icons/32px/twitter_white.png") no-repeat scroll center;
    }

    &.google
    {
        background: #CB5A45 url("../images/icons/32px/googleplus_white.png") no-repeat scroll center;
    }

    &.tumblr
    {
        background: #2C4762 url("../images/icons/32px/tumblr_white.png") no-repeat scroll center;
    }

    &.pinterest
    {
        background: #F30 url("../images/icons/32px/pinterest_white.png") no-repeat scroll center;
    }

    &.reddit
    {
        background: #3E6895 url("../images/icons/32px/reddit_white.png") no-repeat scroll center;
    }
}

.square {
    position: relative;
    padding-left: 10px;
    //float: left;

    & > div {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        margin-left: $magic-number; /* needed since we're overriding the necessary grid__item padding with .square */
    }

    /* Other ratios */
    .ratio2_1:before{
        margin-top: 50%;
    }
    .ratio1_2:before{
        margin-top: 200%;
    }
    .ratio4_3:before{
        margin-top: 75%;
    }
    .ratio16_9:before{
        margin-top: 56.25%;
    }
    
    &:before {
        content: "";
        display: block;
        margin-top: 100%; /* initial ratio of 1:1*/
    }
}