.share__title
{
    background: none repeat scroll 0% 0% $color-root;
    
    display: inline-block;
    margin: 0px 0px 0.5em;
    padding: 0px 0.5em;
    
    text-transform: uppercase;
    color: #FFF;
    font-weight: 200;
    letter-spacing: 1px;
    
    @include grid-media-query("palm") {
        content: "SHARE ON";
    }
}

.share__title--current
{
    display: inline-block;
    margin: 0px 0px 0.5em;
    padding: 0px 0.5em;
    
    text-transform: lowercase;
    color: #333;
    font-weight: 200;
    letter-spacing: 1px;

    @include grid-media-query("palm") {
        display: none;
    }
}

.share__tile
{
    max-width: 64px;
    max-width: 64px;

    cursor: pointer;

    &.facebook
    {
        background: url("../images/icons/32px/facebook_white.png") no-repeat scroll center center #405D94;
    }

    &.twitter
    {
        background: url("../images/icons/32px/twitter_white.png") no-repeat scroll center center #4AADE8;
    }

    &.google
    {
        background: url("../images/icons/32px/googleplus_white.png") no-repeat scroll center center #CB5A45;
    }

    &.tumblr
    {
        background: url("../images/icons/32px/tumblr_white.png") no-repeat scroll center center #2C4762;
    }

    &.pinterest
    {
        background: url("../images/icons/32px/pinterest_white.png") no-repeat scroll center center #F30;
    }

    &.reddit
    {
        background: url("../images/icons/32px/reddit_white.png") no-repeat scroll center center #3E6895;
    }
}

.square {
    position: relative;
    
    max-width: 64px;
    //padding-left: 10px !important;
    //float: left;

    & > div {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        
        @include grid-media-query("lap")
        {
            max-height: 64px;
        }
    }

    /* Other ratios */
    .ratio2_1:before{
        margin-top: 50%;
    }
    .ratio1_2:before{
        margin-top: 200%;
    }
    .ratio4_3:before{
        margin-top: 75%;
    }
    .ratio16_9:before{
        margin-top: 56.25%;
    }
    
    &:before {
        content: "";
        display: block;
        margin-top: 100%; /* initial ratio of 1:1*/
    }
}