.shareIcon
{
    max-width: 64px;
    max-width: 64px;

    cursor: pointer;

    &.facebook
    {
        background: url("../images/icons/32px/facebook_white.png") no-repeat scroll center center #405D94;
    }

    &.twitter
    {
        background: url("../images/icons/32px/twitter_white.png") no-repeat scroll center center #4AADE8;
    }

    &.google
    {
        background: url("../images/icons/32px/googleplus_white.png") no-repeat scroll center center #CB5A45;
    }

    &.tumblr
    {
        background: url("../images/icons/32px/tumblr_white.png") no-repeat scroll center center #2C4762;
    }

    &.pinterest
    {
        background: url("../images/icons/32px/pinterest_white.png") no-repeat scroll center center #F30;
    }

    &.reddit
    {
        background: url("../images/icons/32px/reddit_white.png") no-repeat scroll center center #3E6895;
    }
}

.square {
    position: relative;
    //padding-left: 10px !important;
    //float: left;

    & > div {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    /* Other ratios */
    .ratio2_1:before{
        margin-top: 50%;
    }
    .ratio1_2:before{
        margin-top: 200%;
    }
    .ratio4_3:before{
        margin-top: 75%;
    }
    .ratio16_9:before{
        margin-top: 56.25%;
    }
    
    &:before {
        content: "";
        display: block;
        margin-top: 100%; /* initial ratio of 1:1*/
    }
}