/*--- HEADINGS ---*/
h1, h2, h3, h4, h5, h6 {
    margin-bottom: $magic-number;
    color: $color-root;
}

h1, .h1 {
    @include font-size(48px);
    
    @include grid-media-query("palm") {
        @include font-size(36px);
    }
}

h2, .h2 {
    @include font-size(22px);
}

h3, .h3 {
    @include font-size(20px);
}

h4, .h4 {
    @include font-size(18px);
}

h5, h6,
.h5, .h6 {
    @include font-size(16px);
}

/*--- BLOCK ELEMENTS ---*/
blockquote, p, ul, ol,
.addBottomMargin {
    margin-bottom: $magic-number;
}

/*--- HYPERLINKS ---*/
a
{
    color: $color-root;
    font-weight: bold;
    text-decoration: none;

    &:hover
    {
        border-bottom: 1px solid $color-root;
    }
}

h1 > a
{
    font-weight: normal;
    
    &:hover
    {
        border-bottom: none;
    }
}

small
{
    @include font-size(12px, "em");
}

i
{
    font-style: italic;
}

b, em
{
    font-weight: bold;
}