/*------------------------------------*\
$VARIABLES
\*------------------------------------*/
//breakpoints
//$breakpoint-palm: "max-width: 480px";
//$breakpoint-lap: "min-width: 481px) and (max-width: 1023px";
//$breakpoint-portable: "max-width: 1023px";
//$breakpoint-desk: "min-width: 1024px";

$base-font-size: 16px; 
$base-line-height: 24px;

$black: #333;

$color-root: #3c617a; //rgb(43, 70, 88);
$column-width-full: 520px;

$magic-number: $base-font-size * 1.5;