@import "reset.scss";
@import "csswizardry-grids.scss";

/*------------------------------------*\
$MIXINS
\*------------------------------------*/


/*------------------------------------*\
$VARIABLES
\*------------------------------------*/
//breakpoints
//$breakpoint-palm: "max-width: 480px";
//$breakpoint-lap: "min-width: 481px) and (max-width: 1023px";
//$breakpoint-portable: "max-width: 1023px";
//$breakpoint-desk: "min-width: 1024px";

$base-font-size: 16px; 

$black: #333;

$color-root: #3c617a; //rgb(43, 70, 88);
$column-width-full: 520px;

$magic-number: $base-font-size * 1.5;

/*------------------------------------*\
$SITE STYLES
\*------------------------------------*/
html
{
	font-family: 'Open Sans', Verdana, sans-serif;
	//background: url("../images/grid.png") left -6px repeat #fff;
	color: #333;
	
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust:none
}

body
{
	width: auto;
	margin: 0 auto;
	line-height: 1.5em;
	
	//padding-top: $magic-number * 11;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

.palm--hide
{
    @include grid-media-query("palm")
    {
        display: none;
    }
}

.lap--hide
{
    @include grid-media-query("lap")
    {
        display: none;
    }
}

.portable--hide
{
    @include grid-media-query("portable")
    {
        display: none;
    }
}

.desk--hide
{
    @include grid-media-query("desk")
    {
        display: none;
    }
}

/**************************************
 * TYPE
 **************************************/
$article-padding: 8px;
 
@mixin article-padding {
	margin-left: -$article-padding;
	margin-top: -$article-padding;
	margin-right: -$article-padding;
	margin-bottom: 24px - $article-padding;
	
	padding: $article-padding;
}
 
/*--- HEADINGS ---*/

h1, h2, h3, h4, h5, h6 {
	//@include article-padding;
	
    margin-bottom: $magic-number;
	color: $color-root;
}

h1, .h1 {
	$h1-font-size: 48px;
	font-size: #{$h1-font-size / $base-font-size}em; // 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
	line-height: #{$magic-number / $h1-font-size}em; //1em; /* 24px --> 24 ÷ 24 = 1 */
}

h2, .h2 {
	$h2-font-size: 22px;
	font-size: #{$h2-font-size / $base-font-size}em; // 1.375em; /* 22px --> 22 ÷ 16 = 1.375 */
	line-height: #{$magic-number / $h2-font-size}em; // 1.0909em; /* 24px --> 24 ÷ 22 = 1.090909(09) */
}

h3, .h3 {
	$h3-font-size: 20px;
	font-size: #{$h3-font-size / $base-font-size}em; // 1.25em; /* 20px --> 20 ÷ 16 = 1.25 */
	line-height: #{$magic-number / $h3-font-size}em; // 1.2em; /* 24px --> 24 ÷ 20 = 1.2 */
}

h4, .h4 {
	$h4-font-size: 18px;
	font-size: #{$h4-font-size / $base-font-size}em; // 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
	line-height: #{$magic-number /$h4-font-size}em;  // 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5, h6,
.h5, .h6 {
	$h5-font-size: 16px;
	font-size: #{$h5-font-size / $base-font-size}em; // 1em; /* 16px --> 16 ÷ 16 = 1 */
	line-height: #{$magic-number / $h5-font-size}em; // 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}

/*--- PARAGRAPHS ---*/
blockquote, p, .addBottomMargin {
	//@include article-padding;
	
	margin-bottom: $magic-number;
}

/**************************************
 * LAYOUT
 **************************************/
.wrapper
{
	@include grid-media-query("desk") {
		position: relative;
		
		max-width: 1100px;
		margin: 0 auto;
		padding: 0 24px;
	}
}

.palm--padding {
    padding-left: 1em;
    padding-right: 1em;
    
	@include grid-media-query("desk") {
		padding-left: 0;
		padding-right: 0;
	}
}

.header
{
	background: $color-root;
	position: relative;
	z-index: 200;
	text-align: center !important;
	
	color: #FFF;
    
    max-height: 2em;
	
	@include grid-media-query("desk") {
		//height: ($magic-number * 7);
        max-height: none;
		position: absolute;
        
        padding: 1em;
        margin: 0 -1em $magic-number -1em;
	}
	
	@include grid-media-query("palm") {
		overflow: hidden;
	}
	
	h1
	{
		color: #FFF;
	}
		
	.header__controls
	{
		display: none;
		
		@include grid-media-query("desk") {
			display: block;
		}
        //@include grid-media-query("lap") {
        //    display: block;
        //}
	}
			
	.header__menu, .header__social
	{
		//margin-bottom: $magic-number;
		
		@include grid-media-query("palm") {
			display: none;
		}
		
		ul
		{	
			li
			{
				display: inline-block;
				
				a
				{
					display: block;
					text-decoration: none;
					
					color: #FFF;
				}
				
				a:hover
				{
					background: $color-root;
					color: #FFF;
				}
			}
		}
	}
}

.banner
{
	background: url("../images/second_son.jpg") center center no-repeat $color-root;
	background-size: cover;
	
	border-bottom: #{$magic-number / 4} solid $color-root;
	
	height: ($magic-number * 12) - ($magic-number / 4);
	width: 100%;
	
	//position: fixed;
	position: relative;
	z-index: 100;
	top: -$magic-number;
	
    .latest {
        background: rgba(255,255,255,.7);

        //position: relative;
        display: inline-block;
        //top: -1.5rem;
        margin: 0 0 .5em 0;
        padding: 0 .5em;

        color: $color-root; //#FFF;
        //text-shadow: 2px 2px 2px $color-root;
        font-size: 1rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        
        //& + h1
        //{
            //position: relative;
            //top: -1.5rem;
        //}
    }
    
	h1 
	{
		color: #FFF;
		text-shadow: 2px 2px 2px $color-root;
		text-transform: lowercase;
        font-weight: normal;
		
        margin-left: 0;
		//margin: 0; //($magic-number * 4) 0 ($magic-number * 6) 0;
		
		@include grid-media-query("palm") {
			top: 0;
            margin-bottom: 0;
			//height: ($magic-number * 3) - ($magic-number / 4);
		}
        
        a
        {
            color: #FFF;
            text-decoration: none;
        }
	}
    
    .title
    {
        display: table-cell;
        vertical-align: middle;
        height: 280px;
        
        @include grid-media-query("palm") {
            height: auto;
            padding: 1em 0;
        }
    }
	
	@include grid-media-query("palm") {
        height: auto;
        
        padding: 1em 0;
		//min-height: ($magic-number * 3) - ($magic-number / 4);
	}
}

.content
{
	a
	{
		color: $color-root;
		font-weight: bold;
		text-decoration: none;
	
		&:hover
		{
			border-bottom: 1px solid $color-root;
		}
	}
}

.articleList
{
    position: relative;
    z-index: 200;
    
    .articleList__item
    {
        border-bottom: 1px solid #CCC;
        
        padding-bottom: 23px;
        margin-bottom: 24px;
        
        &:last-child
        {
            border-bottom: none;
        }

        & > p
        {
            &.articleList__date
            {
                color: #666;
                font-weight: lighter;
            }
        }
        
        .articleList__title
        {
            & > a
            {
                font-weight: normal;
            }

            & > a:hover
            {
                border-bottom: none;
            }
        }
    }
}

.article
{
	position: relative;
	z-index: 200;
	
	.article__item 
	{
		& > p
		{
			//background-color: rgba(255, 255, 255, .7);
			
			&.article__date,
			&.article__tags
			{
				color: #666;
				font-weight: lighter;
			}
		}
		
		& > blockquote
		{
			padding: 23px 0;
			border-top: 1px solid #AAA;
			border-bottom: 1px solid #AAA;

			font-family: Georgia, serif;
			color: #aaa;
			font-style: italic;
			letter-spacing: 1px;
		}
	}
}

.aboutMe
{
	background: #EEE;
	padding-top: 1em;
	padding-bottom: 1em; 
	
	@include grid-media-query("desk") {
		padding: 1em;
		margin: 2em -1em $magic-number -1em;
	}
}

.sidebar__share
{
    display: none;
    
    @include grid-media-query("desk") {
        display: initial;
    }
}

.shareIcon
{
    width: 100%;
    height: 3em;
    
    cursor: pointer;
    
    &.facebook
    {
        background: #405D94 url("../images/icons/32px/facebook_white.png") no-repeat scroll center;
    }
    
    &.twitter
    {
        background: #4AADE8 url("../images/icons/32px/twitter_white.png") no-repeat scroll center;
    }
    
    &.google
    {
        background: #CB5A45 url("../images/icons/32px/googleplus_white.png") no-repeat scroll center;
    }
    
    &.tumblr
    {
        background: #2C4762 url("../images/icons/32px/tumblr_white.png") no-repeat scroll center;
    }
    
    &.pinterest
    {
        background: #F30 url("../images/icons/32px/pinterest_white.png") no-repeat scroll center;
    }
    
    &.reddit
    {
        background: #3E6895 url("../images/icons/32px/reddit_white.png") no-repeat scroll center;
    }
}

.footer
{
	background: $color-root;
	
	margin: 1em 0 0 0;
	padding: 1em 0;
	
	min-height: 3em;
	
	color: #FFF;
	
	p
	{
		margin-bottom: 0;
		
		font-size: 0.75rem;
		line-height: 2;
		text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
	}
	
	a
	{
		color: #FFF;
	}
}