<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>

    <div class="wrapper">
        <div class="grid">
            <div class="grid__item three-tenths palm--one-whole push--lap--six-tenths push--desk--seven-tenths">
                <div class="header">
                    <div class="header__title">
                        <a href="/">
                            <img class="header__logo" 
                                 src="/images/logo/800x200_reverse.png" alt="Pop Culture Perspectives" />
                        </a>
                    </div>

                    {% comment %}
                    <div class="header__controls">
                        <div class="header__menu">
                            <ul class="one-whole">
                                <li class="one-third"><a href="/about">About</a></li><!--
                             --><li class="one-third"><a href="#">Ask</a></li><!--
                             --><li class="one-third"><a href="#">Archive</a></li>
                            </ul>
                        </div>
                    </div> <!-- /header__controls -->
                    {% endcomment %}
                </div> <!-- /header -->
            </div> <!-- /grid__item -->
        </div> <!-- /gw -->
    </div> <!-- /wrapper -->

    <div class="banner one-whole" 
         {% if page.showLatest %}
            {% for post in site.posts limit: 1 %}
                style="background-image: url('{{ "/images/posts/" | prepend: site.baseurl }}{{ post.image }}')"
            {% endfor %}
         {% else %}
            style="background-image: url('{{ "/images/posts/" | prepend: site.baseurl }}{{ page.image }}')"
         {% endif %}>
        <div class="wrapper">
            <div class="grid grid--middle">
                <div class="grid__item one-whole">
                    <div class="title palm--padding">
                    {% if page.showLatest %}
                        <div class="latest">Latest:</div>
                        
                        {% for post in site.posts limit: 1 %}
                        <h1>
                            <a class="article__link" href="{{ post.url | prepend: site.baseurl }}">
                                {{ post.title }}
                            </a>
                        </h1>
                        {% endfor %}
                    {% else %}
                        <h1>
                            {{ page.title }}
                        </h1>
                    {% endif %}
                    </div> <!-- /title -->
                </div> <!-- /grid-item -->
            </div> <!-- /grid -->
        </div> <!-- /wrapper -->
    </div> <!-- /banner -->

    <div class="content">
        <div class="wrapper">
            <div class="grid">
                <div class="grid__item one-whole desk--six-tenths">
                    {{ content }}
                </div> <!-- /grid__item -->

                <div class="grid__item one-whole desk--three-tenths push--desk--one-tenth">
                    <div class="sidebar">
                        <div class="aboutMe palm--padding">
                            <p>
                                Hey! I&rsquo;m Eric. Glad to meet you. I 
                                <a href="http://ccchapel.com" target="_blank">work</a> 
                                in communications, focusing with web development and information
                                technology. I like to <a href="/about">write</a>, 
                                <a href="{{ site.twitterUrl }}" target="_blank">tweet</a>
                                and <a href="http://starbucks.com" target="_blank">drink coffee</a>.
                            </p>

                            <p>
                                <a href="/about">Want to know more?</a>
                            </p>

                            <div class="sidebar__twitterFollow">
                                {% include twitter-follow.html %}
                            </div>
                        </div> <!-- /aboutMe -->
                    </div> <!-- /sidebar -->
                </div> <!-- /grid__item -->
            </div> <!-- /grid -->
        </div> <!-- /wrapper -->
    </div> <!-- /content -->

    {% include footer.html %}

    </body>
    
    {% include scripts.html %}
</html>