/*
Syntax error: Invalid CSS after "    .": expected class name, was "&__item"
        on line 336 of ./sass/styles.scss

331: .articleList
332: {
333:     position: relative;
334:     z-index: 200;
335:     
336:     .&__item
337:     {
338:         border-bottom: 1pt solid #CCC;
339:         
340:         &:last-child
341:         {

Backtrace:
./sass/styles.scss:336
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1312:in `expected'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1248:in `expected'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1228:in `expr!'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:826:in `class_selector'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:787:in `simple_selector_sequence'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:752:in `_selector'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:727:in `selector'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:710:in `selector_sequence'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:632:in `ruleset'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1288:in `call'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1288:in `rethrow'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:660:in `block_child'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:641:in `block'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:659:in `block_child'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:41:in `parse'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/engine.rb:409:in `_to_tree'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:149:in `call'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:149:in `block in _wait_for_changes'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:138:in `loop'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:138:in `_wait_for_changes'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:42:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"    .\": expected class name, was \"&__item\"\A         on line 336 of ./sass/styles.scss\A \A 331: .articleList\A 332: {\A 333:     position: relative;\A 334:     z-index: 200;\A 335:     \A 336:     .&__item\A 337:     {\A 338:         border-bottom: 1pt solid #CCC;\A 339:         \A 340:         &:last-child\A 341:         {"; }
