/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 142 of sass/ui/posts.scss
        from line 12 of ./sass/styles.scss

137:     letter-spacing: 1px;
138: 
139:     @include grid-media-query("palm") {
140:         display: none;
141:     }
142: }

Backtrace:
sass/ui/posts.scss:142
./sass/styles.scss:12
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1312:in `expected'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1248:in `expected'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:1243:in `tok!'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:642:in `block'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:634:in `ruleset'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:659:in `block_child'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:652:in `block_contents'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/scss/parser.rb:41:in `parse'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/engine.rb:409:in `_to_tree'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/engine.rb:305:in `to_tree'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/stack.rb:88:in `block in with_import'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/stack.rb:88:in `with_import'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:149:in `call'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:149:in `block in _wait_for_changes'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:138:in `loop'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:138:in `_wait_for_changes'
/Users/eric.rovtar/.rvm/gems/ruby-2.1.1/gems/listen-2.7.4/lib/listen/listener.rb:42:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 142 of sass/ui/posts.scss\A         from line 12 of ./sass/styles.scss\A \A 137:     letter-spacing: 1px;\A 138: \A 139:     @include grid-media-query(\"palm\") {\A 140:         display: none;\A 141:     }\A 142: }"; }
